
<div class="row">
	<div class="col-12 col-lg-6">
		<div class="row">
			<div class="col-12 col-lg-10 offset-lg-2">
				<img class="img-fluid" ng-src="img/Programación.png">
			</div>	
		</div>
	</div>
	<div class="col-12 col-lg-6 mt-4 mt-lg-0 text-center">
		<div class="col-12 text-center">
			<img class="img-fluid" ng-src="img/andrea.png"><br>
		</div><br>
		<span class="col-12 tipoTexto">Andrea Sánchez Bondi</span><br>
		<span class="col-12 tipoTexto"><b>Programadora Web y WebApp</b></span><br>
		<a class="btn btn btn-outline-dark btn-lg-lg mt-4 tipoTexto" ng-href="doc/curriculumVitaeAndrea.pdf" target="_blank">Descarga C.V</a>
	 </div>
</div>
  <section class="">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center mt-4">
            <h2 class="section-heading text-dark tipoTitulo">Mis Intereses</h2>
            <hr class="light my-4">
            <p class="text-dark mb-4 tipoTexto">Me apasiona las nuevas tecnologías y aprender cosas nuevas, me gusta la fotografía y el diseño,a nivel profesional me encantaría especializarme en Marketing Digital o Social Media Manager.</p>
          </div>
        </div>
      </div>
    </section>
	<section id="inicio">
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-12 text-center">
	            <h2 class="section-heading tipoTitulo">Contactame</h2>
	            <hr class=" light my-4">
	          </div>
	        </div>
	      </div>
	      <div class="container">
	        <div class="row">
	          <div class="col-lg-4 col-md-6 text-center">
	            <div class="service-box mt-5 mx-auto">
	              <img ng-src="img/movil.png" alt="ver instagram de Andrea"><br>
	              
	              <h3 class="mb-3 tipoTexto">Consigueme en </h3>
	              <a class=" mb-0 tipoTexto" ng-href="https://www.instagram.com/andreabonditv/" target="_blank" title="ver instagram de Andrea">INSTRAGRAM</a>
	            </div>
	          </div>
	          <div class="col-lg-4 col-md-6 text-center">
	            <div class="service-box mt-5 mx-auto">
	            <img ng-src="img/ojo.png" alt="ver facebook Andrea"><br>
	            
	              <h3 class="mb-3 tipoTexto">Sigueme en</h3>
	              <a ng-href="https://www.facebook.com/Andreabonditv/" target="_blank" title="ver facebook Andrea"> FACEBOOK</a>
			 
	            </div>
	          </div>
	          <div class="col-lg-4 col-md-6 text-center">
	            <div class="service-box mt-5 mx-auto">
	             <img ng-src="img/hoja.png" alt="escribir email a Andrea"><br>
	              <h3 class="mb-3 tipoTexto">Escribeme por</h3>
	             <a class="tipoTexto" ng-href="mailto:yaibondi@gmail.com" target="_blank" title="Enviar correo"> EMAIL
	            </div>
	          </div>
        </div>
      </div>
    </section>
