
<div class="row">
	<div class="col-12 col-lg-6">
		<div class="row">
			<img class="img-fluid" ng-src="img/mesa.jpg">
		</div>
	</div>
	<div class="col-12 col-lg-6">
		<img class="" ng-src="img/andrea.png"><br>
		<span>Andrea Sanchez Bondi</span><br>
		<span>Programadora Web y WebApp</span><br>
		<a class="btn btn btn-outline-dark btn-lg-lg" ng-href="doc/curriculumVitaeAndrea.pdf" target="_blank">Descarga C.V</a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-8 offset-lg-2">
		<span class="tipoTitulo">Mis Intereses</span>
	</div>
	<div class="col-12 col-lg-8 offset-lg-2 tipoTexto">
		<p>Create equal-width columns that span multiple rows by inserting a .w-100 where you want the columns to break to a new line. Make the breaks responsive by mixing the .w-100 with some responsive display utilities.</p>
	</div>
</div>
<div class="row">
	<div class="col-12 col-lg-3  tipoTexto">
		<img src="img/ojo.png" alt="ver facebbok Andrea"><br>
		<a ng-href="https://www.facebook.com/Andreabonditv/" target="_blank"> 
		Sigueme en FACEBOOK</a>				
	</div>
	<div class="col-12 col-lg-3  tipoTexto">
		<img src="img/movil.png" alt="ver instagram de Andrea"><br>
		<a ng-href="https://www.instagram.com/andreabonditv/" target="_blank">Consigueme en INSTRAGRAM</a>
					
	</div>
	<div class="col-12 col-lg-3 tipoTexto">
		<img ng-src="img/hoja.png" alt="escribir email a Andrea"><br>
		<a class=" no-padding" ng-href="mailto:yaibondi@gmail.com" target="_blank" title="Enviar correu">Escribeme por EMAIL
		<span>yaibondi@gmail.com</span></a>
	</div>
</div>