 <div class="container">
      <div class="row">
        <div class="col-md-7">
          <a ng-href="http://santjordi.codigitals.com.es">
            <img class="img-fluid rounded mb-3 mb-md-0" ng-src="img/captura1.PNG" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3 class="tipoTitulo">Sant Jordi</h3>
          <p class="tipoTexto">Festividad y leyenda en relación al día de Sant Jordi.</p>
          <a class="btn btn btn-outline-dark btn-lg-lg tipoTexto" ng-href="http://santjordi.codigitals.com.es">Ver proyecto</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <a ng-href="http://colla.codigitals.com.es">
            <img class="img-fluid rounded mb-3 mb-md-0" ng-src="img/captura3.PNG" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3 class="tipoTitulo">Associació Colla Gegantera el Besòs i la Maresma.</h3>
          <p class="tipoTexto">La Comparsa de Gigantes del Besòs y Maresme son gente del barrio, apasionados por la cultura popular catalana.</p>
          <a class="btn btn btn-outline-dark btn-lg-lg tipoTexto" ng-href="http://colla.codigitals.com.es">Ver Proyecto</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-7">
          <a ng-href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" ng-src="img/captura2.PNG" alt="">
          </a>
        </div>
        <div class="col-md-5">
          <h3 class="tipoTitulo">Associació de comerciants de la Vila Olímpica</h3>
          <p class="tipoTexto">Creación de página web para ampliar información de todos los comercios que conforman la vila Olímpica de Barcelona.</p>
          <a class="btn btn btn-outline-dark btn-lg-lg tipoTexto " ng-href="http://vila.codigitals.com.es">Ver proyecto</a>
        </div>
      </div>
</div>
